.featured {
    display: flex;
    flex-direction: column;
}

.featured-container {
    display: flex;
    flex-direction: row;
    gap: 64px;
    border-radius: 4px;
}

.category-sticky {
    position: sticky;
    top: 50px;
    align-self: flex-start;
}