button {
    width: 100%;
    height: 100%;
    outline: none;
    color: var(--primary-dark);
    padding: 5px;
    border: 1px solid;
    border-radius: 4px;
}

button:hover {
    cursor: pointer;
}

.dark {
    background-color: var(--secondary-light);
    color: var(--primary-dark);
    border-color: var(--secondary-light);
}


.dark:hover {
    background-color: var(--transparent);
    border-color: var(--secondary-light);
    color: var(--secondary-light);
}

.light {
    background-color: var(--transparent);
    border-color: var(--secondary-light);
    color: var(--secondary-light);
}

.light:hover {
    background-color: var(--secondary-light);
    border-color: var(--secondary-light);
    color: var(--primary-dark);
}



