.product-hero {
    height: 550px;
    padding: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--secondary-dark);
    border-radius: 4px;
}

.button-wrap {
    margin-top: 24px;
    width: 150px;
    height: 50px;
}

.quantity-selector {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-top: 16px;
}

.quantity-selector button {
    padding: 5px 10px;
    font-size: 18px;
    background-color: darkgrey;
    border: none;
}

.quantity-selector span {
    min-width: 30px;
    text-align: center;
}