.category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    gap: 24px;
    width: 240px;
    min-width: 160px;
    background-color: var(--secondary-dark);
    padding: 24px 16px;
    border-radius: 0;
}

.cat {
    display: flex;
    flex-direction: column;
    padding: 4px 12px;
    gap: 12px;
    border-left: 1px solid var(--primary-light);
}

.filter {
    padding: 0 32px 0 32px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.filter-icon {
    font-size: 42px;
    transform: translateY(-3px);
}

.apply-filter {
    height: 40px;
}

select {
    padding: 6px;
    border: 1px solid var(--primary-light);
    border-radius: 0;
    color: var(--primary-light);
    cursor: pointer;
}

input {
    opacity: 0.8;
    -webkit-appearance: none;
    background-color: var(--secondary-dark);
    border-radius: 50px;
}

input:hover {
    opacity: 1;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--secondary-light);
    cursor: pointer;
    border-radius: 50px;
}