.category-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: fit-content;
    width: 240px;
    min-width: 240px;
    background-color: var(--primary-dark);
    padding: 32px 0;
}

.cat {
    border-top: 1px solid var(--secondary-dark);
    display: flex;
    flex-direction: column;
    padding: 14px 32px;
    gap: 12px;
}

.filter {
    padding: 0 32px 0 32px;
    display: flex;
    align-items: center;
    gap: 6px;
}

.filter-icon {
    font-size: 42px;
    transform: translateY(-3px);
}

.apply-filter {
    height: 70px;
}

select {
    padding: 6px;
    background-color: var(--secondary-dark);
    border: none;
    border-radius: 4px;
    color: var(--primary-light);
    cursor: pointer;
}

input {
    opacity: 0.8;
    -webkit-appearance: none;
    background-color: var(--secondary-dark);
    border-radius: 50px;
}

input:hover {
    opacity: 1;
}

input::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 12px;
    height: 12px;
    background: var(--secondary-light);
    cursor: pointer;
    border-radius: 50px;
}