.cart-container {
    background-color: var(--secondary-dark);
    width: 100%;
    padding: 32px;
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.cart-container button{
    width: 150px;
    height: 50px;
}

.cart-list {
    list-style: none;
    border-left: 1px solid var(--primary-light);
}