.cont {
    width: 100%;
}

.item-list-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    gap: 24px;
}

.item-wrapper {
    aspect-ratio: 4 / 5;
    width: 100%;
    text-decoration: none;
    color: var(--primary-light);
}

.item-wrapper:active {
    transform: scale(0.95);
}

.info {
    margin-top: 32px;
    height: 32px;
    display: flex;
    align-items: center;
}
